absl-py==2.1.0
aiofiles==23.2.1
aiohttp==3.9.5
aiosignal==1.3.1
altair==5.3.0
antlr4-python3-runtime==4.8
anyio==4.4.0
appnope==0.1.4
asttokens==2.4.1
async-timeout==4.0.3
attrs==23.2.0
audioread==3.0.1
av==12.1.0
backcall==0.2.0
beautifulsoup4==4.12.3
bitarray==2.9.2
bleach==6.1.0
blinker==1.8.2
cachetools==5.3.3
certifi==2024.6.2
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
coloredlogs==15.0.1
contourpy==1.2.1
cycler==0.12.1
Cython==3.0.10
decorator==5.1.1
defusedxml==0.7.1
docopt==0.6.2
einops==0.8.0
exceptiongroup==1.2.1
executing==2.0.1
fairseq==0.12.2
faiss-cpu==1.8.0
fastapi==0.88.0
fastjsonschema==2.20.0
ffmpeg-python==0.2.0
ffmpy==0.3.1
filelock==3.14.0
Flask==3.0.3
flatbuffers==24.3.25
fonttools==4.53.0
frozenlist==1.4.1
fsspec==2024.6.0
future==1.0.0
google-auth==2.32.0
google-auth-oauthlib==1.2.1
gradio==3.34.0
gradio_client==1.0.1
grpcio==1.64.1
gspread==6.1.2
h11==0.14.0
httpcore==1.0.5
httplib2==0.22.0
httpx==0.27.0
huggingface-hub==0.23.3
humanfriendly==10.0
hydra-core==1.0.7
idna==3.7
importlib_metadata==7.1.0
importlib_resources==6.4.0
ipython==8.12.3
iso8601==2.1.0
itsdangerous==2.2.0
jedi==0.19.1
Jinja2==3.1.4
joblib==1.4.2
json5==0.9.25
jsonschema==4.22.0
jsonschema-specifications==2023.12.1
jupyter_client==8.6.2
jupyter_core==5.7.2
jupyterlab_pygments==0.3.0
kiwisolver==1.4.5
librosa==0.9.1
linkify-it-py==2.0.3
llvmlite==0.42.0
local-attention==1.9.1
lxml==5.2.2
Markdown==3.6
markdown-it-py==2.2.0
MarkupSafe==2.1.5
matplotlib==3.9.0
matplotlib-inline==0.1.7
mdit-py-plugins==0.3.3
mdurl==0.1.2
mistune==3.0.2
mpmath==1.3.0
multidict==6.0.5
nbclient==0.10.0
nbconvert==7.16.4
nbformat==5.10.4
networkx==3.2.1
numba==0.59.1
numpy==1.26.4
oauth2client==4.1.3
oauthlib==3.2.2
omegaconf==2.0.6
onnxruntime==1.18.0
orjson==3.10.4
packaging==24.1
pandas==2.2.2
pandocfilters==1.5.1
parso==0.8.4
pexpect==4.9.0
pickleshare==0.7.5
pillow==10.3.0
pipreqs==0.5.0
platformdirs==4.2.2
pooch==1.8.2
portalocker==2.8.2
praat-parselmouth==0.4.3
prompt_toolkit==3.0.47
protobuf==4.25.3
ptyprocess==0.7.0
pure-eval==0.2.2
pyasn1==0.6.0
pyasn1_modules==0.4.0
pycparser==2.22
pydantic==1.10.16
pydub==0.25.1
Pygments==2.18.0
pyparsing==3.1.2
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-multipart==0.0.9
pytz==2024.1
pyworld==0.3.2
PyYAML==6.0.1
pyzmq==26.0.3
referencing==0.35.1
regex==2024.5.15
requests==2.32.3
requests-oauthlib==2.0.0
resampy==0.4.3
rpds-py==0.18.1
rsa==4.9
sacrebleu==2.4.2
scikit-learn==1.5.0
scipy==1.13.1
semantic-version==2.10.0
six==1.16.0
sniffio==1.3.1
soundfile==0.12.1
soupsieve==2.5
stack-data==0.6.3
starlette==0.22.0
sympy==1.12.1
tabulate==0.9.0
tensorboard==2.17.0
tensorboard-data-server==0.7.2
tensorboardX==2.6.2.2
threadpoolctl==3.5.0
tinycss2==1.3.0
toolz==0.12.1
torch==2.3.1
torchaudio==2.3.1
torchcrepe==0.0.20
torchfcpe==0.0.4
tornado==6.4.1
tqdm==4.66.4
traitlets==5.14.3
twitchio==2.9.1
typing_extensions==4.12.2
tzdata==2024.1
uc-micro-py==1.0.3
urllib3==2.2.1
uvicorn==0.30.1
wcwidth==0.2.13
webencodings==0.5.1
websocket-client==1.8.0
websockets==11.0.3
Werkzeug==3.0.3
yarg==0.1.9
yarl==1.9.4
zipp==3.19.2
